# Ignorowanie plików Terraform

*.tfplan
*.tfvars
.ssh-key/
ssh-key/
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform*
.terraform*


# Nie ignoruj folderu .github i .github/workflows
!.github/
!.github/workflows/
!.github/workflows/terraform-ci.yml
